/* general */

*{margin: 0;
padding: 0;
box-sizing: border-box;
}

/* mobile */

@media screen and (max-width: 480px) {

#overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#hamburger{
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 3rem;
}

#sidebar{
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    height: 100vh;
    width: 0px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.navBar{
    display: flex;
    top: 0;
}

header{
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.extras{
    display: flex;
    position: fixed;
    right: 10px;
}

.sidebarItem{
    padding: 1rem;
    list-style-type: none;
    width: 300px;
}

.sidebarItem:hover{
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

.slider{
    grid-area: slider;
    display: flex;
}

.benefits{
    display: flex;
}

.logo{
    height: 7rem;
    align-items: start;
    justify-content: end;
}

.sesion{
    width: auto;
    height: 3rem;
    padding: 5px;
}
 
.cart{
    width: auto;
    height: 3rem;
    padding: 5px;
}

}
